/* .container {
    margin: 0px auto;
    padding: 0px;
    max-width: 1200px;
} */
.media-link {
    display: flex;
    column-gap: 36px;
    align-items: center;
    cursor: pointer;
}
.media-link .fa-brands{
    color: aliceblue !important;
}
.nav-item-hader{
    margin: -1%;
    padding: 0%;
    color: white !important;
    font-size: 0.6rem;
    font-weight: 900;
    line-height: normal;
    cursor: pointer;
}
/* Header */
.logimg {
    width: 15%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 14px;
    margin-right: -35px;
    max-width: 1200px;
}

 .logoname {
    padding-bottom: 5px;
    color: #0c1c50;
    text-decoration: none;
    font-size: 26px;
    font-family: cursive;
}
span {
    color: #9b0a0a;
    font-size: 2.5rem;
       font-family: inherit;
}
.btnmembership {
    padding-right: 94px;
}
.headsection {
    color: black !important;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    list-style: none;
    font-family:  'Roboto', sans-serif;
   

}
.headsection .nav-link {
    color: rgb(82, 47, 47) !important;
    text-transform: capitalize !important;
}
.header-section {
    padding: 8px;
    margin: 2px auto;
    padding: 4px 53px 10px;
    max-width: 1300px;

}