.card {
    padding: 5px;
    margin: -7px;
    box-sizing: border-box;
    box-shadow: 1.5px;


}
.col-sm-3 {
    margin-top: 28px;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 8px;
}
.Qualityhead {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 22px;
    margin-bottom: -13px;
    font-weight: bold !important;
}
.productsborder {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold !important;
}
.allborder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 29px;
}
.overlay-text {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8); /* Background color with transparency */
    color: #fff; /* Text color */
    padding: 10px;
    width: 65%;
    height: 35%;
}
.quality_lagency {
    padding-left: 67px;
    padding-top: 61px;
}
.quality-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58px;
}
.quality-name {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    position: relative;
}
.learn-more  {
    color: #e40076;
    font-size: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: end;
}
.image-cont img {
    width: 100%;
    height: 50%;
}